# Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [8]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
    ('Brian','', '', '(342) 324-3245')
]

def find_number(name):
    for person in address_book:
        if person[0] == name:
            return person[3]
    return -1

find_number('Brian')

'(342) 324-3245'

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are "ordered" as of Python 3.6</p>

##### Declaring (key, value)

In [25]:
(1, 2, 3, 4).__hash__()

590899387183067792

In [64]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...}

d1 = {}
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '100 Rodeo Blvd'
}

print(d3)
print(type(d3))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Blvd'}
<class 'dict'>

##### Accessing Values

In [26]:
# dict[key]

d3['Hank']

'123 Real Street'

In [29]:
d3['Tevin']

'100 Rodeo Blvd'

In [30]:
d3['Brian']

KeyError: 'Brian'

##### .get()

In [31]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [34]:
# dict.get('key') or dict.get('key', value_if_no_key)

print(d3.get('Peter'))
print(d3.get('Brian'))
print(d3.get('Brian', 'No Address Available'))

321 Fake Street
None
No Address Available

In [39]:
d4 = {
    'abc': [1, 2, 3, 4]
}

d4.get('abc')[0]

1

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [42]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}


print(f"My favorite car is a {truck['year']} {truck.get('make')} {truck['model']}")

My favorite car is a 2018 Chevrolet Silverado

##### Adding New Pairs

In [50]:
# dict[key] = value

d3['Zooey'] = '151 Main Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '151 Main Street',
 'Zoey': '321 Fake Street'}

##### Modifying Values

In [51]:
# dict[key] = value

d3['Zooey'] = '321 Fake Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '321 Fake Street',
 'Zoey': '321 Fake Street'}

##### Removing Key, Value Pairs

In [46]:
# del dict[key]

del d3['Tevin']

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '321 Fake Street'}

#### Modify key Name

In [52]:
d3['Zoey'] = d3.pop('Zooey')
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zoey': '321 Fake Street'}

##### Looping a Dictionary

In [54]:
# .items()
# a, b, c = 1, 2, 3
# print(a)
# print(b)
# print(c)


for item in d3.items():
    print(item, type(item))

('Hank', '123 Real Street') <class 'tuple'>
('Peter', '321 Fake Street') <class 'tuple'>
('Sydney', '555 Santa Monica Blvd') <class 'tuple'>
('Zoey', '321 Fake Street') <class 'tuple'>

In [56]:
item = ('Hank', '123 Real Street')
key, value = item
print(value)

123 Real Street

In [57]:
for key, value in d3.items():
    print(f"Key: {key}  Value: {value}")

Key: Hank  Value: 123 Real Street
Key: Peter  Value: 321 Fake Street
Key: Sydney  Value: 555 Santa Monica Blvd
Key: Zoey  Value: 321 Fake Street

##### Looping Only Keys

In [63]:
# .keys()
for i in d3:
    print(i)

print('='*20)

for key in d3.keys():
    print(key)

Hank
Peter
Sydney
Zoey
====================
Hank
Peter
Sydney
Zoey

In [66]:
for key in d3.keys():
    print(key, d3[key])

Hank 123 Real Street
Peter 321 Fake Street
Sydney 555 Santa Monica Blvd
Tevin 100 Rodeo Blvd

##### Looping Only Values

In [68]:
# .values()
for val in d3.values():
    print(val)

123 Real Street
321 Fake Street
555 Santa Monica Blvd
100 Rodeo Blvd

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [75]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}


for name in people.keys():
    print(name)
    print(f"{name} has {people[name]} eyes")

Max
Max has blue eyes
Lilly
Lilly has brown eyes
Barney
Barney has blue eyes
Larney
Larney has brown eyes
Ted
Ted has purple eyes

In [76]:
people['Max']

'blue'

##### sorted()

In [79]:
people.values()

dict_values(['blue', 'brown', 'blue', 'brown', 'purple'])

In [80]:
# sorts variables in order
# sorted(dict.values()) or dict.keys() or dict.items()
sorted(people)
sorted(people.values())

['blue', 'blue', 'brown', 'brown', 'purple']

##### List with Dictionaries

In [88]:
names = ['Dave', 'Randy', 'Greg', {'guy': 'Bob', 'gal': 'Cindy'}]

print(names)
print(names[3], type(names[3]))
print(names[3]['guy'])
print(names[3]['gal'])

['Dave', 'Randy', 'Greg', {'guy': 'Bob', 'gal': 'Cindy'}]
{'guy': 'Bob', 'gal': 'Cindy'} <class 'dict'>
Bob
Cindy

##### List of Dictionaries

In [99]:
movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'title': 'Star Wars', 'director': 'George Lucas', 'release_year': 1977},
    {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}
]

print(movies)

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006}, {'title': 'Star Wars', 'director': 'George Lucas', 'release_year': 1977}, {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}]

In [100]:
for m in movies:
    print(f"Title: {m['title']} -- Directed by: {m['director']} -- {m['release_year']}")

Title: Inception -- Directed by: Christopher Nolan -- 2010
Title: The Social Network -- Directed by: David Fincher -- 2010
Title: The Departed -- Directed by: Martin Scorsese -- 2006
Title: Star Wars -- Directed by: George Lucas -- 1977
Title: Parasite -- Directed by: Bong Joon Ho -- 2019

##### Dictionaries with Lists

In [106]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes

random_data = {
    'list1': [23, 35, 63, 234],
    0: ['a', 'b', 'c']
}

print(random_data)
print(random_data[0])
print(random_data['list1'], type(random_data['list1']))
print(random_data['list1'][2])

{'list1': [23, 35, 63, 234], 0: ['a', 'b', 'c']}
['a', 'b', 'c']
[23, 35, 63, 234] <class 'list'>
63

##### Dictionaries with Dictionaries

In [112]:
# to get values, must traverse through keys

my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe)
print(my_shoppe['ice_cream'], type(my_shoppe['ice_cream']))
print(my_shoppe['ice_cream']['oreo'])

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}, 'milkshake': {'vanilla': 3.99, 'chocolate': 3.99, 'oreo': 4.49}}
{'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49} <class 'dict'>
3.49

In [121]:
# List out the items at the shop that are less than $4.00
for desert_type in my_shoppe.keys():
    for flavor, price in my_shoppe[desert_type].items():
        if price <= 4:
            print(flavor, price)

vanilla 2.99
chocolate 2.99
oreo 3.49
vanilla 3.99
chocolate 3.99

In [133]:
# How many years did Jimmy Smith work at AlphaInc?
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'Bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'Quality Assurance',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

job_app['prog_languages'][0]['proficiency']

8

In [134]:
for language in job_app['prog_languages']:
    print(f"Language: {language['name']} Proficiency: {language['proficiency']}")

Language: Python Proficiency: 8
Language: JavaScript Proficiency: 5

In [137]:
len(job_app.get('experience')[1].get('years_at_company'))

2

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [138]:
import time


# generate fake dictionary
d = {}

for i in range(10000000):
    d[i] = 'value'
    

# generate fake list
big_list = [x for x in range(10000000)]

In [159]:
# tracking time for set
start_time = time.time()

print(9999999 in d)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0
True
Elapsed time for list: 0.32446765899658203

In [144]:
time.time()

1658431016.0347466

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [165]:
# set() or {val,...}

my_set = set()

print(my_set)
print(type(my_set))

not_a_set = {}
print(not_a_set)
print(type(not_a_set))

full_set = {5, 2, 3, 5, 7, 6, 3, 2, 5, 6, 7}
print(full_set)
print(type(full_set))

set()
<class 'set'>
{}
<class 'dict'>
{2, 3, 5, 6, 7}
<class 'set'>

In [166]:
string_set = {'abc', 'hello', 'goodbye'}
print(string_set)
print(type(string_set))

{'abc', 'goodbye', 'hello'}
<class 'set'>

In [189]:
string_set_again = set(('abc', 'hello', 'goodbye'))
print(string_set_again)
print(type(string_set_again))

{'abc', 'goodbye', 'hello'}
<class 'set'>

##### .add()

In [194]:
full_set.add(123)

print(full_set)

{2, 3, 5, 6, 7, 123}

In [195]:
x = {1, 4, 6}

x.add(56)
x.add(123)
print(x)

{1, 4, 6, 56, 123}

##### .remove()

In [196]:
full_set.remove(123)

print(full_set)

{2, 3, 5, 6, 7}

##### .union()

In [197]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [200]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s2.union(s1)
print(s3)

# OR

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [201]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [205]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s2.intersection(s1)
print(s5)

# OR

s6 = s2 & s1
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [206]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [210]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}


s7 = s2.difference(s1)
print(s7)

# OR

s8 = s1 - s2
print(s8)

{5, 6}
{1, 2}

##### .clear()

In [212]:
# Empties the whole set
# set.clear()
s8.clear()

print(s8)

set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [214]:
# frozenset([])
my_frozenset = frozenset(s1)

print(my_frozenset)

my_frozenset.add(234)

frozenset({1, 2, 3, 4})

AttributeError: 'frozenset' object has no attribute 'add'

In [218]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {7, 8, 9}

set4 = {frozenset(set1), frozenset(set2), frozenset(set3)}
print(set4)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

In [219]:
# import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [228]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.00099945068359375
True
Elapsed time for list: 0.31614089012145996

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the variables into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [ ]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'

In [233]:
def args_test(*args):
    print(args)
    
    
args_test({1, 2, 3}, {3, 4, 5}, {34, 324, 434})

({1, 2, 3}, {3, 4, 5}, {434, 34, 324})

In [235]:
cities = ['Chicago', 'Detroit', 'Cleveland']
set(cities)

{'Chicago', 'Cleveland', 'Detroit'}